.bg{
	background-color: #F3F3F3;
}

.forChangeCol.selected {
	background-color: white;
}

a:hover {
text-decoration: none ;
}

.forChangeCol.selected{
	background-color: white;
}

.blockInfo{
    background-color: #DDDDDD;
    margin-top:20px;
    font-size: 17px; 
}

.logo{
	 margin-bottom: 10px !important;
 }

#ico {
	margin:0 0 20px 0 !important;
	display:flex;
	justify-content: center;
}

#ico a{
margin-right: 20px;
}

a:hover, a {
	text-decoration: none !important;
}

.nav {
	display:flex;
	justify-content: space-between;
	height: 40px;
	background-color:#DBDBDB;
	padding: initial;
}

.nav div{
	display: flex;
	align-items: center;
	border-left: 1px solid white;
	width: 100%;
}

.nav img {
	margin-left:6px;
}


.container-fluid a{
	margin:0 10px;
}

.px-0{
	padding-left:0 !important;
	padding-right:0 !important;  
} 


.no-margin {margin: 0 !important}

li{
	list-style-type: none;
}

ul {
  margin-left: 0;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
}

ul li {
    display : inline-block ;
}

.blockInfo div{
	padding-left: 20px;
}


.home{
	display: flex;
	justify-content: space-between;
}

.blocks{
	border: 1px solid silver;
	border-radius: 5px;
	margin-top: 20px;

}

tr:nth-child(2n + 1) {
	background-color: #DDDDDD;
}

.about{
	margin-top: -10px;
	background-color: #F3F3F3;
	display: flow-root;
}
.info h2{
	background-color: #B5B5B5;
	-webkit-margin-top-collapse: discard;
	color:white;
}

.blocks h2{
	margin: 10px 22px;
	padding-top: .1em;
	padding-bottom: .1em;
	font-size: 1.5em;
	text-shadow: 0 1px 0 #777;
}

.blocks div:first-child {
	background-color: #B5B5B5;
}

.about p{
	margin: 15px 23px 5px;
}
.th{
	background-color: #f1f1f1 !important;
}

.th2 {
	height: 37px !important;
	background-color: #EAEAEB !important;
}

tr th {
	border-left: 1px solid white;
}

.information2 p{
	display: list-item;
}

.lastBlock{
display: grid;
}

.lastBlock a{
	display: list-item;
	margin: 7px 0 4px 24px;
}

.about a{
	display: list-item;
	margin: 8px 0 8px 23px;
	clear: both;
}

.p {
	float: left;
	margin: 1px 5px 12px 7px;
	display: flex;
	align-items: flex-end;
}

.about img {
margin-right: 5px;
}

/*#header img{*/
/*	width: 20px;*/
/*	height:20px;*/
/*}*/

/*.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}*/