* {
	box-sizing: border-box;
}

.bg{
	background-color: #F3F3F3;
}

.forChangeCol.selected {
	background-color: white;
}

a:hover {
text-decoration: none ;
}

.forChangeCol.selected{
	background-color: white;
}

.blockInfo{
    background-color: #DDDDDD;
    margin-top:20px;
    font-size: 17px; 
}

.logo{
	 margin-bottom: 10px !important;
 }

#ico {
	margin:0 0 20px 0 !important;
	display:flex;
	justify-content: center;
}

#ico a{
margin-right: 20px;
}

a:hover, a {
	text-decoration: none !important;
}

.nav {
	display:flex;
	justify-content: space-between;
	height: 40px;
	background-color:#DBDBDB;
	padding: initial;
}

.nav div{
	border-left: 1px solid white;
	width: 100%;
}

.nav img {
	margin-left:6px;
}


.container-fluid a{
	margin:0 10px;
}

.px-0{
	padding-left:0 !important;
	padding-right:0 !important;  
} 


.no-margin {margin: 0 !important}

li{
	list-style-type: none;
}

ul {
  margin-left: 0;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
}

ul li {
    display : inline-block ;
}

#demo{
	margin-left: 20px;
}	

#demo1 ul{
	    margin-left: 15px;
}
#demo11 {
		    margin-left: 30px;
}

#demo2 ul{
	    margin-left: 15px;
}
#demo12 {
		    margin-left: 30px;
}

#demo3 ul{
	    margin-left: 15px;
}
#demo13 {
		    margin-left: 30px;
}

#demo4 ul{
	    margin-left: 15px;
}

#demo14 {
		    margin-left: 30px;
}

#demo5 ul{
	    margin-left: 15px;
}

#demo15 {
		    margin-left: 30px;
}

#demo6 ul{
	    margin-left: 15px;
}

#demo16 {
		    margin-left: 30px;
}

#demo7 ul{
	    margin-left: 15px;
}
#demo17 {
		    margin-left: 30px;
}

#demo8 ul{
	    margin-left: 15px;
}
#demo18 {
		    margin-left: 30px;
}

#demo9 ul{
	    margin-left: 15px;
}
#demo19 {
		    margin-left: 30px;
}

#demo10 ul{
	    margin-left: 15px;
}
#demo20 {
		    margin-left: 30px;
}
/*.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}*/